<div class="card" style="width: 33.333%;">
    <h2>This is the partial</h2>
      <div class="card-body">
        <h5 class="card-title">Kobe Bryant</h5>
        <p class="card-text">LAK</p>
      </div>
</div>