
<h2>Add a New Book to the Library</h2>


<form action="/books/create" method="post">

<label>Title</label>
<input type="text" name="title">
<br>

<label>Author</label>
<input type="text" name="author">
<br>

<label>Description</label>
<textarea name="description" cols="30" rows="10"></textarea>
<br>

<label>Rating</label>
<input type="number" name="rating">
<br>
<button type="submit">Save Book</button>


</form>